@import "tailwindcss";

body{
  background-color: #fff;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 

.card-demo {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-demo:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
